<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>

</head>
<body>
<div th:replace="layout :: nav">
    <nav th:fragment="nav">
        <div class="nav-wrapper">
            <a href="home.html" th:href="@{/}" class="brand-logo">Ballad</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="ballad.html" th:href="@{/ballad}">Create Ballad</a></li>
                <li><a href="sign_up.html" th:href="@{/signup}">Sign Up</a></li>
                <li><a href="profile.html" th:href="@{/profile}">My Profile</a></li>
                <li><a href="login.html" th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <input type="search" placeholder="Search"/>

    <div class="row col s12" style="margin: 0 auto; width: 100%;">
        <h3>Public Ballads:</h3>
        <div class="col s6" style=" width: 45%; margin: 5px; border: 1px solid; padding: 10px;">

        <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid architecto cumque eius exercitationem fugit harum voluptates. A accusantium alias eligendi est magni, mollitia nihil pariatur quisquam suscipit, veritatis, voluptates.</p>
            <label>Date: <span>4/4/2017</span></label>
        </div>
        <div class="col s6" style=" width: 45%; margin: 5px; border: 1px solid; padding: 10px;">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid architecto cumque eius exercitationem fugit harum voluptates. A accusantium alias eligendi est magni, mollitia nihil pariatur quisquam suscipit, veritatis, voluptates.</p>
            <label>Date: <span>4/4/2017</span></label>
        </div>
        <div class="col s6" style=" width: 45%; margin: 5px; border: 1px solid; padding: 10px;">

        <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid architecto cumque eius exercitationem fugit harum voluptates. A accusantium alias eligendi est magni, mollitia nihil pariatur quisquam suscipit, veritatis, voluptates.</p>
            <label>Date: <span>4/4/2017</span></label>
        </div>
        <div class="col s6" style=" width: 45%; margin: 5px; border: 1px solid; padding: 10px;">

        <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid architecto cumque eius exercitationem fugit harum voluptates. A accusantium alias eligendi est magni, mollitia nihil pariatur quisquam suscipit, veritatis, voluptates.</p>
            <label>Date: <span>4/4/2017</span></label>
        </div>

    </div>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>