<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>

</head>
<body>
<div th:replace="layout :: nav">
    <nav th:fragment="nav">
        <div class="nav-wrapper">
            <a href="home.html" th:href="@{/}" class="brand-logo">Ballad</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="ballad.html" th:href="@{/ballad}">Create Ballad</a></li>
                <li><a href="sign_up.html" th:href="@{/signup}">Sign Up</a></li>
                <li><a href="profile.html" th:href="@{/profile}">My Profile</a></li>
                <li><a href="login.html" th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="container">
    <h3>Login Form</h3>
    <form class="col s12" th:action="@{/validate}" method="post">
        <div>
            <input type="text" name="username" placeholder="Login"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <div>
            <button class="waves-effect waves-light btn"> Login</button>
            <button class="waves-effect waves-light btn"> Sign Up</button>
        </div>

    </form>
</div>



<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</body>
</html>