html {
  min-height: 100%;
  position: relative;
}

#ballads-page {
  // background: linear-gradient(#F4E6ED,#A8A8FF);
  height: 100%;

  #tools-section {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lbox {
      h2 {
        font-size: 3rem;
        color: $green
      }
    }
    .mbox {
      width: 30%;
      input {
        width:100%;
        // height: 20px;
        border: none;
        border-bottom: 2px solid $black;
        font-size: 2rem;
        &:focus {
          outline: none;
        }
      }
    }
    .rbox {
      .layout-icon {
        width: 30px;
        height: 30px;
        background: black;
        display: inline-block;
      }
      #sort-list {
        position: absolute;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          text-align: right;
        }
      }
    }
  }
  #ballad-cards-container-grid {

    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .column1,.column2,.column3 {
      width: 33%;

    }
    .ballad-card {
      box-sizing: border-box;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 80px;
      // background: #fff;
      transition: .1s;
      &:hover {

        transform: scale(1.01);
      }
      // padding: 10px;
      .btop,.bbottom {
        height: 10px;
        width: 100%;
        border-radius: 5px;
        background: $black;
        clear: both;
      }
      h1,h2,p {
        padding-left: 10px;
      }
      h1 {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
        margin-top: 20px;
        // padding-left:
      }
      h2 {
        font-size: 1.4rem;
        margin: 0;
      }
      p {
        // margin: 0;
        font-weight: lighter;
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin: 20px 0;
      }
      .date {
        float: left;
        font-size: .9rem;
      }
      .private {
        float: right;
        span {
          color: $green;
          font-weight: 500;
          font-size: 1.3rem;
        }
        // &:after {
        //   clear: both;
        // }
      }
    }
  }

  #ballad-cards-container-list {
    width: 80%;
    margin: 0 auto;
    display: none;
    .ballad-card {
      width: 100%;
      .btop,.bbottom {
        height: 10px;
        width: 100%;
        border-radius: 5px;
        background: $black;
        clear: both;
      }
      &:nth-child(n+2) {
        .btop {
          height: 0px;
        }
      }
      .content-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        h2 {
          font-size: 1.3rem;
        }
        p {
          width: 35%;
          margin: 10px 0;
        }
      }
    }
  }

}
