#home-page {
  header {
    height: 100px;
    background: rgba(0,0,0,0.2);
    margin: 0;
    nav {
      ul {
        list-style: none;
        margin: 0;
        li {
          float: left;
          margin-left: 40px;
        }
      }
    }
  }

  #head {
    height: 600px;
    width: 100%;
    // margin: 0;
    background: rgba(0,0,0,.1);
    h1 {
      margin: 0;
    }
  }
  #preview {
    .pop-ballad {
      display: inline-block;
      width: 200px;
      height: 300px;
      background: rgba(0,0,0,.3);
    }
  }
}
