// LAYOUT

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

  header {
    height: 100px;

    .head-container .top-head {
      #logged, #not-logged {
        display: none;
      }

      .fa-bars {
        display: inline-block;
      }
    }
  }

  header .head-container .bottom-head {
    display: none;
  }
}

// HOME PAGE

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  #home-page #logo img {
    width: 40%;
  }

  #home-page #head .head-top {
    z-index: -1;
  }

  #home-page #head .head-box {
    display: block;
    z-index: 100;

    h1 {
      display: block;
      font-size: 2.75rem;
      line-height: 60px;
      padding: 40px 0px;
      text-align: center;
      width: 100%;
    }

    img {
      display: block;
      padding-top: 20px;
      width: 100%;
    }
  }


#home-page #preview {

  h2 {
    font-size: 2.25rem;
    margin: 40px 0px 20px 0px;
    text-align: center;
  }

  a {
      font-size: 1.5rem;
  }
}

#home-page #preview .preview-container {
  flex-direction: column;
  justify-content: center;

  .pop-ballad {
    display: block;
    height: auto;
    margin-left: 12.5%;
    padding: 40px 0px;
    width: 75%;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

#home-page #about {
  height: auto;
}

#home-page #about .overview {
  display: block;
  height: auto;

  .description-container {
    align-items: flex-start;
    height: auto;
    margin: 0 10%;
    width: 80%;

    .description {
      display: block;
      height: 50%;
      margin-top: 20%;
      padding: 0;
      text-align: center;
      width: 100%;

        h2 {
          font-size: 1.5rem;
          text-align: center;
        }

        p {
          font-size: 1.25rem;
          text-align: center;
        }
      }
    }

    .pic {
      align-items: flex-end;
      clear: both;
      display: block;
      float: none;
      padding: 0;
      justify-content: center;
      width: 100%;

      img {
        height: auto;
        margin-top: 15%;
        object-fit: contain;
        width: 100%;
      }
    }
  }

  #home-page #about .quote {
    align-items: none;
    clear: both;
    display: block;
    height: auto;
    margin-top: 15%;
    padding: 0;
    width: 100%;

    p {
      font-size: 1.5rem;
      width: 80%;

      span {
        font-size: 1.5rem;
        margin-bottom: 15%;
      }
    }
  }

  #home-page .features-carousel-section {
    clear: both;
    height: auto;
    position: relative;
    width: 100%;
  }

  #home-page .features-carousel-nav {
    clear: both;
    display: block;
    float: none;
    height: auto;
    width: 100%;
  }

  #home-page .features-carousel-description {
    color: white;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    position: static;
    width: 100%;

    h1 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      font-size: 1.25rem;
      margin-top: 20px;
      text-align: center;
    }
  }

  #home-page .features-carousel-for {
    background: $black;
    clear: both;
    display: block;
    float: none;
    height: auto;
    margin-top: -30px;
    width: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  #home-page footer {
    height: 10px;

    img {
      height: auto;
      margin-left: 10%;
      margin-top: -5%;
      object-fit: contain;
      position: static;
      width: 30%;
    }
  }
}


// EDITOR PAGE

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

  #editor-page header {
      display: none;
    }

  #editor-page .header2 {
    height: 100px;
  }

  #editor-page .header2 .bottom-head {
      display: none;
  }

  #editor-page .header2 .top-head {
    align-items: center;
    display: flex;
    font-size: 0.75em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;

    input {
      float: left;
      font-size: 1.5rem;
      margin-top: 0;
      width: 50%;
    }

    .save-and-cancel {
      align-items: center;
      display: flex;
      float: left;
      height: 100%;
      justify-content: center;
      width: 40%;

      .fa-check {
        color: $green;
        display: inline-block;
        font-size: 2rem;
        padding: 0 10px;
      }

      .fa-times {
        color: $magenta;
        display: inline-block;
        font-size: 2rem;
        padding: 0 20px;
      }
    }


    .hamburger-container {
      align-items: center;
      display: flex;
      float: right;
      height: 100%;
      justify-content: flex-end;
      width: 10%;

      #editor-slideout-button .fa-bars {
        color: white;
        display: inline-block;
        font-size: 1.5rem;
      }
    }
  }


  #editor-page .container .main-area {
    width: 100%;
  }

  #editor-page #rhyme-bank {
    display: none;
  }
}
