html {
  min-height: 100%;
  position: relative;
}

#popular-page {
  height: 100%;


  #popular {
    h1 {
      margin: 0 ;
    }

    width: 100%;
    height: auto;
    background: rgba(0,0,0,.1);
    .container {
      width: 80%;
      height: 600px;
      margin: 0 auto;
      background: rgba(0,0,0,0.1);
      .pop-ballad {
        background: rgba(0,0,0,.1);
        display: inline-block;
        width: 30%;
        // height: 300px;
        height: auto;
        margin-bottom: 40px;
      }
    }
  }
}
