@import "partials/home";
@import "partials/popular";
@import "partials/login";
@import "partials/ballads";
@import "partials/editor";

* {
  font-family: helvetica;
}

body {
  margin: 0;
  padding: 0;
}
