@import url("https://fonts.googleapis.com/css?family=Istok+Web");
header {
  height: 200px;
  margin: 0; }
  header .head-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .head-container .top-head, header .head-container .bottom-head {
      width: 100%;
      display: flex;
      align-items: center; }
    header .head-container .top-head {
      justify-content: space-between;
      height: 50%; }
      header .head-container .top-head h1 {
        font-size: 3.5em;
        color: #00a; }
      header .head-container .top-head a {
        text-decoration: none;
        letter-spacing: 1px;
        color: #2a2a2a; }
        header .head-container .top-head a .dropdown {
          display: none;
          position: absolute;
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: right;
          right: 10%; }
          header .head-container .top-head a .dropdown li {
            width: 100%;
            font-size: .8em;
            line-height: 25px;
            letter-spacing: 1px; }
            header .head-container .top-head a .dropdown li:hover {
              background: rgba(100, 20, 50, 0.1); }
    header .head-container .bottom-head {
      justify-content: flex-start;
      height: 50%; }
      header .head-container .bottom-head ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        header .head-container .bottom-head ul li {
          float: left;
          margin-right: 30px; }
          header .head-container .bottom-head ul li a {
            text-decoration: none;
            letter-spacing: 1px;
            font-size: 1.1em;
            font-weight: bold; }
          header .head-container .bottom-head ul li #ab {
            color: #9c0f5f; }
          header .head-container .bottom-head ul li #br {
            color: #26547c; }
          header .head-container .bottom-head ul li #cr {
            background: #04a777;
            color: white;
            box-sizing: border-box;
            padding: 10px 15px;
            border-radius: 15px; }

#home-page #head {
  height: 500px;
  width: 100%;
  background: #9c0f5f;
  box-sizing: border-box;
  padding: 0 15%; }
  #home-page #head .head-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #home-page #head .head-box h1 {
      margin: 0;
      width: 40%;
      font-size: 4em;
      line-height: 80px;
      color: #fff; }
    #home-page #head .head-box img {
      width: 40%; }
#home-page #preview {
  width: 80%;
  margin: 0 auto; }
  #home-page #preview h2 {
    font-size: 3em;
    margin: 40px 0px;
    color: #9c0f5f; }
  #home-page #preview .preview-container {
    display: flex;
    justify-content: space-around; }
    #home-page #preview .preview-container .pop-ballad {
      display: inline-block;
      padding: 20px;
      width: 280px;
      height: 400px;
      position: relative; }
      #home-page #preview .preview-container .pop-ballad:nth-child(1) .top-border, #home-page #preview .preview-container .pop-ballad:nth-child(1) .bottom-border {
        background: #9c0f5f; }
      #home-page #preview .preview-container .pop-ballad:nth-child(1) h1 {
        color: #9c0f5f; }
      #home-page #preview .preview-container .pop-ballad:nth-child(1) span {
        color: #9c0f5f; }
      #home-page #preview .preview-container .pop-ballad:nth-child(2) .top-border, #home-page #preview .preview-container .pop-ballad:nth-child(2) .bottom-border {
        background: #26547c; }
      #home-page #preview .preview-container .pop-ballad:nth-child(2) h1 {
        color: #26547c; }
      #home-page #preview .preview-container .pop-ballad:nth-child(2) span {
        color: #26547c; }
      #home-page #preview .preview-container .pop-ballad:nth-child(3) .top-border, #home-page #preview .preview-container .pop-ballad:nth-child(3) .bottom-border {
        background: #04a777; }
      #home-page #preview .preview-container .pop-ballad:nth-child(3) h1 {
        color: #04a777; }
      #home-page #preview .preview-container .pop-ballad:nth-child(3) span {
        color: #04a777; }
      #home-page #preview .preview-container .pop-ballad .top-border, #home-page #preview .preview-container .pop-ballad .bottom-border {
        position: relative;
        height: 10px;
        width: 100%;
        background: black;
        border-radius: 5px; }
      #home-page #preview .preview-container .pop-ballad .bottom-border {
        clear: both; }
      #home-page #preview .preview-container .pop-ballad h1 {
        font-size: 2em;
        margin: 10 0; }
      #home-page #preview .preview-container .pop-ballad h2 {
        font-size: 1.5em;
        margin: 0;
        color: #2a2a2a; }
      #home-page #preview .preview-container .pop-ballad p {
        line-height: 30px; }
      #home-page #preview .preview-container .pop-ballad span {
        float: right; }
  #home-page #preview a {
    margin: 40px 0px;
    float: right;
    text-decoration: none;
    font-size: 2.5em;
    color: #9c0f5f; }
#home-page #about {
  clear: both;
  background: #26547c;
  height: auto; }
  #home-page #about .overview {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #home-page #about .overview .description {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      padding: 30px; }
      #home-page #about .overview .description h1 {
        color: white;
        font-size: 3em; }
      #home-page #about .overview .description p {
        font-size: 2em;
        line-height: 50px;
        color: #fff; }
    #home-page #about .overview .pic {
      width: 50%;
      height: 100%;
      background: url("../images/Phone.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  #home-page #about .quote {
    background: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 0; }
    #home-page #about .quote p {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      font-size: 2em;
      line-height: 50px;
      color: #2a2a2a;
      font-style: italic; }
      #home-page #about .quote p span {
        float: right; }
  #home-page #about .features {
    display: flex;
    justify-content: space-between;
    height: 500px; }
    #home-page #about .features .feature {
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      padding: 50px;
      color: #fff;
      background: #2a2a2a; }
      #home-page #about .features .feature h1 {
        font-size: 3em; }
      #home-page #about .features .feature p {
        font-size: 1.5em;
        line-height: 40px; }
    #home-page #about .features .feature-visual {
      width: 50%;
      height: 100%;
      background: #04a777; }
#home-page footer {
  height: 200px;
  width: 100%;
  background: white; }

#popular-page #popular {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.1); }
  #popular-page #popular h1 {
    margin: 0; }
  #popular-page #popular .container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1); }
    #popular-page #popular .container .pop-ballad {
      background: rgba(0, 0, 0, 0.1);
      display: inline-block;
      width: 30%;
      height: auto;
      margin-bottom: 40px; }

#login-page #login-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%; }

#login-page form {
  display: flex;
  flex-direction: column;
  width: 90%; }
  #login-page form h1 {
    margin-top: 45px;
    margin-bottom: 45px; }
  #login-page form label {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px; }
  #login-page form input {
    height: 30px;
    margin-bottom: 45px;
    width: 30%; }
  #login-page form button {
    height: 30px;
    margin-bottom: 45px;
    width: 15%; }

#ballads-page
#ballads-page #tools-section {
  background: #f1f1f1;
  height: 150px;
  width: 100%; }
  #ballads-page
  #ballads-page #tools-section ul {
    float: right;
    margin-right: 5%; }
    #ballads-page
    #ballads-page #tools-section ul li {
      list-style-type: none; }

#ballads-page #search-container {
  float: left;
  margin-left: 5%; }

#ballads-page #ballad-cards-section {
  background: pink;
  clear: both;
  height: auto;
  width: 100%; }

#ballads-page #ballad-cards-container {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; }

#ballads-page .ballad-card {
  background: white;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  box-sizing: border-box;
  height: auto;
  margin: 10px 0px;
  width: 30%; }
  #ballads-page .ballad-card h1 {
    padding: 5px 10px; }
  #ballads-page .ballad-card p {
    padding: 5px 10px; }
  #ballads-page .ballad-card div {
    align-items: center;
    border-radius: 50%;
    display: flex;
    float: right;
    height: 50px;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 50px; }
    #ballads-page .ballad-card div span {
      font-size: 0.75rem;
      color: white; }

#ballads-page .private {
  background: blue; }

#ballads-page .public {
  background: green; }

#ballads-page .liked {
  background: red; }

#editor-page input {
  border: none; }
#editor-page .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

* {
  font-family: 'Istok Web', sans-serif; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=styles.css.map */
