<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head(${ballad_title})">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>
  </head>
  <body id="ballads-page">

    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <h1>ballad</h1>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+Create</a></li>
          </ul>
        </div>
      </div>
      <nav>

      </nav>
    </header>

    <section id="tools-section">
      <div id="search-container">
        <input type="text" name="ballads-search"/>
        <button>Search</button>
      </div>
<!--TODO Make table with sorting options or hardcode and make work-->
      <select id="sort">
        <option>Recent</option>
        <option>Public</option>
        <option>Private</option>
        <option>Likes</option>
        <!--<option th:field="" th:text=""></option>-->
      </select>
      <!--TODO-->
      <ul th:remove="all">
        <!--<li><a id="sort">Sort</a>-->
          <ul>
            <li><a>Recent</a></li>
            <li><a>Public</a></li>
            <li><a>Private</a></li>
            <li><a>Likes</a></li>
          </ul>
        <!--</li>-->
      </ul>
    </section>

    <section id="ballad-cards-section">
      <div id="ballad-cards-container">
        <div class="ballad-card" th:each="theBallad : ${ballads}" th:object="${theBallad}">
          <h1 th:text="*{title}">Kendrick Lamar</h1>
          <p th:text="*{ballad}">If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
          <!-- Toggling Between Public, Private, and Liked Classes-->
          <div class="private" th:class="*{publicView} ? 'private' : 'public'">
            <span th:text="*{publicView} ? 'Private' : 'Public'">Private</span>
          </div>
          <!-- <div class="public">
            <span>Public</span>
          </div> -->
          <!-- <div class="liked">
            <span>Liked</span>
          </div> -->
        </div>
        <div class="ballad-card" th:remove="all">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
          <!-- Toggling Between Public, Private, and Liked Classes-->
          <div class="private">
            <span>Private</span>
          </div>
          <!-- <div class="public">
            <span>Public</span>
          </div> -->
          <!-- <div class="liked">
            <span>Liked</span>
          </div> -->
        </div>
        <div class="ballad-card" th:remove="all">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
          <!-- Toggling Between Public, Private, and Liked Classes-->
          <div class="private">
            <span>Private</span>
          </div>
          <!-- <div class="public">
            <span>Public</span>
          </div> -->
          <!-- <div class="liked">
            <span>Liked</span>
          </div> -->
        </div>
        <div class="ballad-card" th:remove="all">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
          <!-- Toggling Between Public, Private, and Liked Classes-->
          <div class="private">
            <span>Private</span>
          </div>
          <!-- <div class="public">
            <span>Public</span>
          </div> -->
          <!-- <div class="liked">
            <span>Liked</span>
          </div> -->
        </div>
      </div>
    </section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
    <script src="https://use.fontawesome.com/555750ba4f.js"></script>
  </body>
</html>
