<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head(${ballad_title})">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ballad | My ballads</title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>
  </head>
  <body id="ballads-page" class="my-ballads">

    <div id="global-login" th:remove="all">
      <div class="modal-container">
        <div class="modal">
          <i class="fa fa-times" aria-hidden="true"></i>
          <div th:fragment="loginPage" id="login-page">
          <section  id="login-section">
            <!-- Toggle Between Signup and Login Forms -->
            <form id="signup-form" th:style="${signup}? '' : 'display:none'">
              <h1>Signup</h1>
              <div class="fname">
                <label for="first-name">First Name</label><br/>
                <input type="text" id="first-name" name="first-name"/>
              </div>
              <div class="lname">
                <label for="last-name">Last Name</label><br/>
                <input type="text" id="last-name" name="last-name"/>
              </div>
              <div class="eaddress">
                <label for="email-address">Email Address</label><br/>
                <input type="text" id="email-address" name="email-address"/>
              </div>
              <div class="usr">
                <label for="signup-username">Username</label><br/>
                <input type="text" id="signup-username" name="signup-username"/>
              </div>
              <div class="pass">
                <label for="signup-password">Password</label><br/>
                <input type="text" id="signup-password" name="signup-password"/>
              </div>
              <div class="sub">
                <button id="signup-btn">Submit</button>
              </div>
              <span>Already have an account? <a href="#" id="login">Login!</a></span>

            </form>

            <form id="login-form" th:style="${signup}? 'display:none' : ''">
              <h1>Login</h1>
              <div class="usr">
                <label for="login-username">Username</label><br/>
                <input type="text" id="login-username" name="username"/>
              </div>
              <div class="pass">
                <label for="login-password">Password</label><br/>
                <input type="text" id="login-password" name="login-password"/>
              </div>
              <div class="sub">
                <button id="login-btn">Submit</button>
                <a href="#">Forgot your password?</a>
              </div>

              <!-- <hr> -->
              <span>Ready to create lyrics but don't have an account? <a href="#" id="signup">Sign up!</a></span>
            </form>

          </section>
          </div>
        </div>
      </div>

      <div class="modal-overlay">
      </div>
    </div>

    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <a href="home.html" id="logo"><img src="../static/images/ballad-logo_black.png" alt=""/></a>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Signup</a>
          <a href="#" id="logged">Isaiah <i class="fa fa-angle-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+ Create</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section id="profile-head">
      <div class="container">
        <div class="pic-container">
          <div class="pic-holder">
            <div class="pic">

            </div>
          </div>

        </div>
        <div class="description">
          <div class="description-container">
            <h1>Future</h1>
            <h2>Nayvidius Cash</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          </div>

        </div>
      </div>
    </section>

    <section id="tools-section">
      <div class="lbox">
        <h2 th:text="${ballad_title.equals('My Ballads')} ? 'My Ballads': 'Popular'">ballads</h2>

      </div>
      <div class="mbox">
        <input type="text" id="ballads-search" name="ballads-search" placeholder=" Search"/>
      </div>

      <div class="rbox">
        <div class="layout-icon">
          <div class="container">
            <div id='a'></div>
            <div id='b'></div>
            <div id='c'></div>
            <div id='d'></div>
            <div id='e'></div>
            <div id='f'></div>
          </div>
        </div>
        <span id="sort-dropdown">
          <span id="current-sort">Recent</span>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        <!--TODO-->
        <ul id="sort-list">
              <li id="recent">Recent</li>
              <li id="public">Public</li>
              <li id="private">Private</li>
              <li id="likes">Likes</li>
        </ul>
      </div>

<!--TODO Make table with sorting options or hardcode and make work-->

    </section>

    <section id="ballad-cards-section">

      <div class="ballad-card-view" id="ballad-cards-container-grid">

        <div class="column1" th:remove="all">
          <div class="ballad-card" th:each="theBallad : ${ballads}" th:object="${theBallad}">
            <div class="btop"></div>

              <input type="hidden" th:value="*{id}"/>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                <i class="fa fa-eye" aria-hidden="true"></i>
                <h1 th:text="*{title}">Love</h1>
                <h2 th:text="|*{owner.firstName} *{owner.lastName}|">Kendrick Lamar</h2>
                <p th:text="*{#strings.substring(ballad,0,20)}">If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
                <div class="date">
                  <span th:text="*{creationDate}">12/2/16</span>
                </div>
                <div class="private" th:class="*{publicView} ? 'private' : 'public'">
                  <span th:text="*{publicView} ? 'Private' : ''">Private</span>
                </div>

            <div class="bbottom"></div>
          </div>

          <!--<div class="ballad-card" th:remove="all">-->
            <!--<div class="btop"></div>-->
            <!--<h1>I'm the One</h1>-->
            <!--<h2>DJ Khaled</h2>-->
            <!--<p>I'm the one, yeah, I'm the one, yeah-->
                        <!--And you sick of all those other imitators-->
                        <!--Don't let the only real one intimidate ya-->
                        <!--See you watchin', don't run outta time now-->
                <!--I'm the one, yeah</p>-->



        <!--</div>-->
        <!--<div class="column2" th:remove="all">-->
          <!--<div class="ballad-card" th:remove="all">-->
            <!--<div class="btop"></div>-->
            <!--<h1>Humble</h1>-->
            <!--<h2>Kendrick Lamar</h2>-->
            <!--<p>This shit way too crazy, ayy, you do not amaze me, ayy-->
<!--I blew cool from AC, ayy, Obama just paged me, ayy-->
<!--I don't fabricate it, ayy, most of y'all be fakin', ayy-->
<!--I stay modest 'bout it, ayy, she elaborate it, ayy</p>-->
            <!--<div class="date">-->
              <!--<span>12/2/16</span>-->
            <!--</div>-->
            <!--<div class="private">-->
              <!--<span>Private</span>-->
            <!--</div>-->
            <!--<div class="bbottom"></div>-->
          <!--</div>-->
          <!--<div class="ballad-card" th:remove="all">-->
            <!--<div class="btop"></div>-->
            <!--<h1>Shape of You</h1>-->
            <!--<h2>Ed Sheeran</h2>-->
            <!--<p>The club isn't the best place to find a lover-->
<!--So the bar is where I go-->
<!--Me and my friends at the table doing shots-->
<!--Drinking fast and then we talk slow</p>-->
            <!--<div class="date">-->
              <!--<span>12/2/16</span>-->
            <!--</div>-->
            <!--<div class="private">-->
              <!--<span>Private</span>-->
            <!--</div>-->
            <!--<div class="bbottom"></div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="column3"th:remove="all">-->
          <!--<div class="ballad-card" th:remove="all">-->
            <!--<div class="btop"></div>-->
            <!--<h1>Sign of the Times</h1>-->
            <!--<h2>Harry Styles</h2>-->
            <!--<p>You can't bribe the door on your way to the sky-->
<!--You look pretty good down here-->
<!--But you ain't really good</p>-->
            <!--<div class="date">-->
              <!--<span>12/2/16</span>-->
            <!--</div>-->
            <!--<div class="private">-->
              <!--<span>Private</span>-->
            <!--</div>-->
            <!--<div class="bbottom"></div>-->
          <!--</div>-->
          <!--<div class="ballad-card" th:remove="all">-->
            <!--<div class="btop"></div>-->
            <!--<h1>Slow Hands</h1>-->
            <!--<h2>Nial Horan</h2>-->
            <!--<p>I just wanna take my time-->
<!--We could do this, baby, all night, yeah-->
<!--'Cause I want you bad-->
<!--Yeah, I want you, baby</p>-->
            <!--<div class="date">-->
              <!--<span>12/2/16</span>-->
            <!--</div>-->
            <!--<div class="private">-->
              <!--<span>Private</span>-->
            <!--</div>-->
            <!--<div class="bbottom"></div>-->
          <!--</div>-->
        <!--</div>-->


        <!--list view-->
      <div id="ballad-cards-container-list" >

        <div class="ballad-card" th:each="theBallad : ${ballads}" th:object="${theBallad}">
          <div class="btop"></div>
          <div class="content-container">
            <input type="hidden" th:value="*{id}"/>
            <h1 th:text="*{title}">Slow Hands</h1>
            <h2 th:text="|*{owner.firstName} *{owner.lastName}|">Nial Horan</h2>
            <p th:text="*{ballad}">I just wanna take my time
  We could do this, baby, all night, yeah
  'Cause I want you bad
  Yeah, I want you, baby</p>
            <div class="date">
              <span th:text="*{creationDate}">12/2/16</span>
            </div>
            <div class="private" th:class="*{publicView} ? 'private' : 'public'">
              <span th:text="*{publicView} ? 'Private' : ''">Private</span>
            </div>
          </div>
          <div class="bbottom"></div>
        </div>
        <!--<div class="ballad-card" th:remove="all">-->
          <!--<div class="btop"></div>-->
          <!--<div class="content-container">-->
            <!--<h1>Slow Hands</h1>-->
            <!--<h2>Nial Horan</h2>-->
            <!--<p>I just wanna take my time-->
  <!--We could do this, baby, all night, yeah-->
  <!--'Cause I want you bad-->
  <!--Yeah, I want you, baby</p>-->
            <!--<div class="date">-->
              <!--<span>12/2/16</span>-->
            <!--</div>-->
            <!--<div class="private">-->
              <!--<span>Private</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="bbottom"></div>-->
        <!--</div>-->
        <!--<div class="ballad-card" th:remove="all">-->
          <!--<div class="btop"></div>-->
          <!--<div class="content-container">-->
            <!--<h1>Slow Hands</h1>-->
            <!--<h2>Nial Horan</h2>-->
            <!--<p>I just wanna take my time-->
  <!--We could do this, baby, all night, yeah-->
  <!--'Cause I want you bad-->
  <!--Yeah, I want you, baby</p>-->
            <!--<div class="date">-->
              <!--<span>12/2/16</span>-->
            <!--</div>-->
            <!--<div class="private">-->
              <!--<span>Private</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="bbottom"></div>-->
        <!--</div>-->
      <!--</div>-->
          </div>
        </div>
      </div>
    </section>

    <div th:replace="layout :: loginForm"></div>
    <div th:replace="layout :: universalScripts">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
      <script src="https://use.fontawesome.com/555750ba4f.js"></script>
    </div>
  <script src="../static/js/ballads.js" th:src="@{/js/ballads.js}"></script>

  </body>
</html>
