<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body id="ballads-page">

    <header>
      <nav>
        <ul>
          <li><a href="home.html">ballad</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="popular.html">Browse</a></li>
          <li><a href="editor.html">+Create</a></li>
          <li><a href="login.html">Login/Sign-up</a></li>
        </ul>
      </nav>
    </header>

    <section id="tools-section">
      <div id="search-container">
        <input type="text" name="ballads-search"></input>
        <button>Search</button>
      </div>

      <ul>
        <li><a id="sort">Sort</a>
          <ul>
            <li><a>Recent</a></li>
            <li><a>Public</a></li>
            <li><a>Private</a></li>
            <li><a>Likes</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section id="ballad-cards-section">
      <div id="ballad-cards-container">
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
        <div class="ballad-card">
          <h1>Kendrick Lamar</h1>
          <p>If I didn't ride blade on curb, would you still love me? If I minimized my net worth, would you still love me?</p>
        </div>
      </div>
    </section>


  </body>
</html>
