<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Ballad Editor')">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>
  </head>
  <body id="editor-page">
    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <h1>ballad</h1>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+Create</a></li>
          </ul>
        </div>
      </div>
      <nav>

      </nav>
    </header>

    <input type="text" name="" value="title" />
    <h2>by: Isaiah Anderson</h2>
    <div class="container">
      <div class="l-bar">
        <button type="button" name="button">+Template</button>
        <button type="button" name="button">+Chorus</button>
        <button type="button" name="button">+Verse</button>
        <button type="button" name="button">+Bridge</button>
        <button type="button" name="button">+Section</button>
      </div>
      <div class="main-area">
        <textarea name="name" rows="8" cols="80">Cat</textarea>
      </div>
      <div class="rhymes">
        <ul>
          <li>Bat</li>
          <li>Rat</li>
          <li>Fat</li>
          <li>Matt</li>
        </ul>
      </div>
    </div>
    <button type="button" name="button">Save</button>
    <button type="button" name="button">Export</button>
  </body>
</html>
