<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body id="editor-page">
    <header>
      <nav>
        <ul>
          <li><a href="home.html">ballad</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="popular.html">Browse</a></li>
          <li><a href="editor.html">+Create</a></li>
          <li><a href="login.html">Login/Sign-up</a></li>
        </ul>
      </nav>
    </header>

    <input type="text" name="" value="title" />
    <h2>by: Isaiah Anderson</h2>
    <div class="container">
      <div class="l-bar">
        <button type="button" name="button">+Template</button>
        <button type="button" name="button">+Chorus</button>
        <button type="button" name="button">+Verse</button>
        <button type="button" name="button">+Bridge</button>
        <button type="button" name="button">+Section</button>
      </div>
      <div class="main-area">
        <textarea name="name" rows="8" cols="80">Cat</textarea>
      </div>
      <div class="rhymes">
        <ul>
          <li>Bat</li>
          <li>Rat</li>
          <li>Fat</li>
          <li>Matt</li>
        </ul>
      </div>
    </div>
    <button type="button" name="button">Save</button>
    <button type="button" name="button">Export</button>
  </body>
</html>
