<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Ballad Editor')">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>
  </head>
  <body id="editor-page">
    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <h1>ballad</h1>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+Create</a></li>
          </ul>
        </div>
      </div>
      <nav>

      </nav>
    </header>

    <input type="text" name="" value="title" />
    <h2 th:text="${isLoggedIn} ? 'By: '+${user.firstName}+' '+${user.lastName} :  ''">by: Isaiah Anderson</h2>
    <div class="container">
      <div class="l-bar">
        <button type="button" name="button" value="Template">+Template</button>
        <button type="button" name="button" value="Chorus">+Chorus</button>
        <button type="button" name="button" value="Verse">+Verse</button>
        <button type="button" name="button" value="Bridge">+Bridge</button>
        <button type="button" name="button" value="Section">+Section</button>
      </div>
      <div class="main-area">
        <textarea id="ballad-input" name="name" rows="8" cols="80">Cat</textarea>
      </div>
      <div class="rhymes">
        <ul id="rhyme-bank">
          <li th:remove="all">Bat</li>
          <li th:remove="all">Rat</li>
          <li th:remove="all">Fat</li>
          <li  th:remove="all">Matt</li>
        </ul>
      </div>
    </div>
    <button type="button" name="button">Save</button>
    <button type="button" name="button">Export</button>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/editor.js" th:src="@{/js/editor.js}"></script>
    <script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>
    <script src="https://use.fontawesome.com/555750ba4f.js"></script>
  </body>
</html>
