<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body id="home-page">
    <header>
      <nav>
        <ul>
          <li><a href="home.html">ballad</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="popular.html">Browse</a></li>
          <li><a href="editor.html">+Create</a></li>
          <li><a href="login.html">Login/Sign-up</a></li>
        </ul>
      </nav>
    </header>

    <section id="head">
      <div class="head-box">
        <h1>The notepad for lyricists</h1>
      </div>
    </section>

    <section id="preview">
      <h2>Popular</h2>
      <!-- These are the divs that will hold three popular ballads. The see more link will link to the actual popular page. Only the first couple lines of the lyrics will show in these boxes-->
      <div class="pop-ballad">
        <h1 >Humble</h1>
        <h2>Kendrick Lamar</h2>
        <p>Wicked or weakness?
You gotta see this
Waaaaay (yeah, yeah!)

[Album Intro]
Nobody pray for me
It's been that day for me
Waaaaay (yeah, yeah!)</p>
      </div>
      <div class="pop-ballad">
        <h1 >Humble</h1>
        <h2>Kendrick Lamar</h2>
        <p>Wicked or weakness?
You gotta see this
Waaaaay (yeah, yeah!)

[Album Intro]
Nobody pray for me
It's been that day for me
Waaaaay (yeah, yeah!)</p>
      </div>
      <div class="pop-ballad">
        <h1 >Humble</h1>
        <h2>Kendrick Lamar</h2>
        <p>Wicked or weakness?
You gotta see this
Waaaaay (yeah, yeah!)

[Album Intro]
Nobody pray for me
It's been that day for me
Waaaaay (yeah, yeah!)</p>
      </div>
      <a href="popular.html">See More -></a>
    </section>

    <section id="about">
      <h2>about</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
    </section>
  </body>
</html>
