<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Home')">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  </head>
  <body id="home-page">


    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <h1>ballad</h1>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+Create</a></li>
          </ul>
        </div>
      </div>
      <nav>

      </nav>
    </header>





    <section id="head">
      <div class="head-box">
        <h1>The notepad for lyricists</h1>
        <img src="../static/images/Laptop.png" alt="">
      </div>
    </section>

    <section id="preview">
      <h2>Popular</h2>
      <div class="preview-container">
      <!-- These are the divs that will hold three popular ballads. The see more link will link to the actual popular page. Only the first couple lines of the lyrics will show in these boxes-->

      <div class="pop-ballad" th:each="popular : ${topThree}" th:object="${popular}">
        <div class="top-border">

        </div>
        <h1 th:text="*{title}">Humble</h1>
        <h2 th:text="*{owner.firstName}">Kendrick Lamar</h2>
        <p th:text="*{ballad}">"My left stroke just went Viral<br>Right stroke put lil' baby in a spiral"</p>
        <span>March 7, 2017</span>
<div class="bottom-border">

</div>
      </div>
      <div class="pop-ballad">
        <div class="top-border">

        </div>
        <h1>Humble</h1>
        <h2>Marlanna Evans</h2>
        <p>"Just as sure as the earth is round We bounce back up when they throw is down. So don't forget your crown."</p>
        <span>March 7, 2017</span>
<div class="bottom-border">

</div>
      </div>
      <div class="pop-ballad">
        <div class="top-border"></div>
        <h1>Humble</h1>
        <h2>Jackson Philips</h2>
        <p>"What am I good for? Somebody tell me, Because I don't know anymore"</p>
        <span>March 7, 2017</span>
<div class="bottom-border">

</div>
      </div>
      </div>


      <a href="popular.html" th:href="@{/popular}">See More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </section>

    <section id="about">
      <div class="overview">
        <div class="pic">

        </div>
        <div class="description">
          <h1>Create Lyrics with ease using the ballad editor</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
        </div>

      </div>

      <div class="quote">
        <p>"Music is the greatest communication in the world. Even if people don't understand the language you're singing in they still know good music."<br/><span>--Lou Rawls</span></p>
      </div>

      <div class="features">
        <div class="feature">
          <h1>Feature</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
        </div>
        <div class="feature-visual">

        </div>
      </div>
    </section>

    <footer></footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var logged = false;
      $("#logged").css('display','none');
      $('#not-logged').click(function() {
        $('#not-logged').css('display', 'none');
        $('#logged').css('display', 'block');
      });

      $('#logged').click(function() {
        $('.dropdown').slideToggle();
      })
    })
    </script>
    <script src="https://use.fontawesome.com/555750ba4f.js"></script>
  </body>
</html>
