<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">

      </div>
      <div class="title">
        <h1>ballad</h1>
      </div>

      <nav>
        <ul>
          <li id="new"><a href="#">+New ballad</a></li>
          <li><a href="login.html">Login/Sign-Up</a></li>
        </ul>
      </nav>
    </header>
    <section class="head">
      <div class="head-img">

      </div>
      <h2>The Notepad for Lyricists.</h2>
    </section>
    <div class="bar">

    </div>
    <section class="popular">
      <h2>Popular ballads</h2>
      <h3>Explore popular ballads from people like you.</h3>
      <div class="container">
        <div class="ballad">

        </div>
        <div class="ballad">

        </div>
        <div class="ballad">

        </div>
      </div>
      <a href="#">See More -></a>
    </section>

    <section class="about">
      <h2>About ballad</h2>
      <div class="container">
        <div class="l-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt</p>
        </div>
        <div class="r-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis</p>
        </div>
        <div class="l-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt</p>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="../static/vendor/react.js"></script>
    <script type="text/javascript" src="../static/vendor/react-dom.js"></script>
    <script type="text/javascript" src="../static/vendor/babel-browser.min.js"></script>
    <script type="text/babel" src="../static/js/app.jsx"></script>
  </body>
</html>

