<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${page_title}"></title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<header id="global-header"  th:fragment="nav">
    <div class="head-container">
        <div class="top-head">
            <h1><a href="home.html" id="logo" th:href="@{/}"><img src="../static/images/ballad-logo_black.png" th:src="@{/images/ballad-logo_black.png}" alt=""/></a></h1>

            <a href="#" id="logged" th:href="${isLoggedIn} ? '#': @{/login}" th:id="${isLoggedIn} ? 'logged': 'not-logged'" >
                <span th:text="${isLoggedIn} ? ${user.firstName}:'Login/Sign-up'">Isaiah</span>
                <span><i class="fa fa-caret-down" th:class="${isLoggedIn}? 'fa fa-caret-down':'fa fa-user-circle-o'" aria-hidden="true"></i>
                    <ul class="dropdown">
                        <li id="logout">Logout</li>
                        <li>Profile Settings</li>
                        <li id="my-ballads">My Ballads</li>
                    </ul>
                </span>
            </a>
        </div>

        <div class="bottom-head" th:style="${isEditor} ? 'display:none;' : ''">
            <ul>
                <li><a id="ab" href="#about" th:href="@{/#about}">About</a></li>
                <li><a id="br" href="popular.html" th:href="@{/popular}">Browse</a></li>
                <li><a id="cr" href="editor.html" th:href="@{/editor}">+Create</a></li>

            </ul>
        </div>
    </div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>