<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${page_title}"></title>
    <!--<link href="css/normalize.css" rel="stylesheet"/>-->
    <link rel="stylesheet" type="text/css" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>


<!-- GLOBAL LOGIN -->

  <div id="global-login" th:fragment="loginForm">
    <div class="modal-container">
      <div class="modal">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div th:fragment="loginPage" id="login-page">
        <section  id="login-section">
          <!-- Toggle Between Signup and Login Forms -->
          <form id="signup-form" th:style="${signup}? '' : 'display:none'">
            <h1>Signup</h1>
            <div class="fname">
              <label for="first-name">First Name</label><br/>
              <input type="text" id="first-name" name="first-name" required="required"/>
                <div id="sign-up-fname"></div>
            </div>
            <div class="lname">
              <label for="last-name">Last Name</label><br/>
              <input type="text" id="last-name" name="last-name" required="required"/>
                <div id="sign-up-lname"></div>
            </div>
            <div class="eaddress">
              <label for="email-address">Email Address</label><br/>
              <input type="text" id="email-address" name="email-address" required="required"/>
                <div id="sign-up-email"></div>
            </div>
            <div class="usr">
              <label for="signup-username">Username</label><br/>
              <input type="text" id="signup-username" name="signup-username" required="required"/>
                <div id="sign-up-username"></div>
            </div>
            <div class="pass">
              <label for="signup-password">Password</label><br/>
              <input type="text" id="signup-password" name="signup-password" required="required"/>
                <div  id="password-strength" style="display:none; text-align: center; width: 51%; padding: 10px; border-radius: 10px; background: #F26430; color:white;"></div>
                <div id="sign-up-password"></div>
            </div>
            <div class="sub">
              <button id="signup-btn">Submit</button>
            </div>
            <span>Already have an account? <a href="#" id="login">Login!</a></span>

          </form>

          <form id="login-form" th:action="@{/userlogin}" th:style="${signup}? 'display:none' : ''">
            <h1>Login</h1>
            <div class="usr" >
              <label for="login-username">Username</label><br/>
              <input type="text" id="login-username" name="username" required="required"/>
                <div  id="user-validation"></div>
            </div>
            <div class="pass">
              <label for="login-password">Password</label><br/>
              <input type="password" id="login-password" name="login-password" required="required"/>
                <div id="password-validation"></div>
            </div>
            <div class="sub">
              <button id="login-btn">Submit</button>
              <a href="#" id="forgot-email">Forgot your password?</a>
            </div>

            <!-- <hr> -->
            <span>Ready to create lyrics but don't have an account? <a href="#" id="signup">Sign up!</a></span>
          </form>

        </section>
        </div>
      </div>
    </div>

    <div class="modal-overlay">
    </div>
  </div>


<!-- GLOBAL HEADER -->

<header id="global-header"  th:fragment="nav">
    <div class="head-container">
        <div class="top-head">
            <h1><a href="home.html" id="logo" th:href="@{/}"><img src="../static/images/ballad-logo_black.png" th:src="@{/images/ballad-logo_black.png}" alt=""/></a></h1>

            <a href="#" id="logged" th:id="${isLoggedIn} ? 'logged': 'not-logged'" >
                <span th:text="${isLoggedIn} ? ${user.firstName}:'Login/Signup'">Isaiah </span>
                <span><i class="fa fa-angle-down" th:class="${isLoggedIn}? 'fa fa-angle-down':'fa fa-user-circle-o'" aria-hidden="true"></i>
                    <ul class="dropdown">
                        <li id="logout">Logout</li>
                        <li id="profile-settings">Profile Settings</li>
                        <li id="my-ballads">My Ballads</li>
                    </ul>
                </span>
            </a>
        </div>

        <div class="bottom-head" th:style="${isHidden} ? 'display:none;' : ''">
            <ul>
                <li><a id="ab" href="#about" th:href="@{/#about}">About</a></li>
                <li><a id="br" href="popular.html" th:href="@{/popular}">Browse</a></li>
                <li><a id="cr" href="editor.html" th:href="@{/editor}">+ Create</a></li>

            </ul>
        </div>
    </div>

</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<div th:fragment="universalScripts">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>

    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>


    <script src="https://use.fontawesome.com/555750ba4f.js"></script>
</div>

</body>
</html>
