<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>

</head>
<body>
<div>
<nav th:fragment="nav">
    <div class="nav-wrapper">
        <a href="testing/home.html" th:href="@{/}" class="brand-logo">Ballad</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="testing/ballad.html" th:href="@{/ballad}">Create Ballad</a></li>
            <li><a href="testing/sign_up.html" th:href="@{/signup}">Sign Up</a></li>
            <li><a href="testing/profile.html" th:href="@{/profile}">My Profile</a></li>
            <li><a href="testing/login.html" th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</nav>
</div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>