<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Login')">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body id="login-page">


    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <a href="home.html" id="logo"><img src="../static/images/ballad-logo_black.png" alt=""></a>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+Create</a></li>
          </ul>
        </div>
      </div>
    </header>

    <section id="login-section">
      <!-- Toggle Between Signup and Login Forms -->
      <form id="signup-form" th:style="${signup}? '' : 'display:none'">
        <h1>Signup</h1>
        <div class="fname">
          <label for="first-name">First Name</label><br/>
          <input type="text" id="first-name" name="first-name"/>
        </div>
        <div class="lname">
          <label for="last-name">Last Name</label><br/>
          <input type="text" id="last-name" name="last-name"/>
        </div>
        <div class="eaddress">
          <label for="email-address">Email Address</label><br/>
          <input type="text" id="email-address" name="email-address"/>
        </div>
        <div class="usr">
          <label for="signup-username">Username</label><br/>
          <input type="text" id="signup-username" name="signup-username"/>
        </div>
        <div class="pass">
          <label for="signup-password">Password</label><br/>
          <input type="text" id="signup-password" name="signup-password"/>
        </div>
        <div class="sub">
          <button id="signup-btn">Submit</button>
        </div>
        <span>Already have an account? <a href="#" id="login">Login!</a></span>

      </form>

      <form id="login-form" th:style="${signup}? 'display:none' : ''">
        <h1>Login</h1>
        <div class="usr">
          <label for="login-username">Username</label><br/>
          <input type="text" id="login-username" name="username"/>
        </div>
        <div class="pass">
          <label for="login-password">Password</label><br/>
          <input type="text" id="login-password" name="login-password"/>
        </div>
        <div class="sub">
          <button id="login-btn">Submit</button>
          <a href="#">Forgot your password?</a>
        </div>

        <!-- <hr> -->
        <span>Ready to create lyrics but don't have an account? <a href="#" id="signup">Sign up!</a></span>
      </form>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    
    <script src="../static/js/script.js"></script>
    <script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
  </body>
</html>
