<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body id="login-page">

    <header>
      <nav>
        <ul>
          <li><a href="home.html">ballad</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="popular.html">Browse</a></li>
          <li><a href="editor.html">+Create</a></li>
          <li><a href="login.html">Login/Sign-up</a></li>
        </ul>
      </nav>
    </header>

    <section id="login-section">
      <!-- Toggle Between Signup and Login Forms -->
      <form>
        <h1>Signup</h1>
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name"></input>
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name"></input>
        <label for="email-address">Email Address</label>
        <input type="text" id="email-address" name="email-address"></input>
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" name="signup-username"></input>
        <label for="signup-password">Password</label>
        <input type="text" id="signup-password" name="signup-password"></input>
        <button>Submit</button>
      </form>

      <form>
        <h1>Login</h1>
        <label for="login-username">Username</label>
        <input type="text" id="login-username" name="username"></input>
        <label for="login-password">Password</label>
        <input type="text" id="login-password" name="login-password"></input>
        <button>Submit</button>
      </form>
    </section>

  </body>
</html>
