<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body id="popular-page">

    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <h1>ballad</h1>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+Create</a></li>
          </ul>
        </div>
      </div>
      <nav>

      </nav>
    </header>


    <section id="popular">
      <!-- This is the div thats going to hold the full lyrics of a song if a user clicks on one to preview -->
      <div class="preview-container">
        <h1>Free Fallin</h1>
        <h2>John Mayer</h2>
        <p>She's a good girl, loves her mama
Loves Jesus and America, too
She's a good girl, crazy 'bout Elvis
Loves horses and her boyfriend, too

It's a long day living in reseda
There's a freeway runnin' through the yard
I'm a bad boy 'cause I don't even miss her
I'm a bad boy for breaking her heart

And I'm free, free fallin', fallin'
And I'm free, free fallin', fallin'

All the vampires walkin' through the valley
They move west down Ventura boulevard
And all the bad boys are standing in the shadows
And the good girls are home with broken hearts

And I'm free, free fallin', fallin'
Now I'm free, free fallin', fallin'

Free fallin',
Now I'm free fallin',
Now I'm free fallin',
Now I'm free fallin'.

I wanna glide down over Mulholland
I wanna write her name in the sky
I wanna free fall out into nothin'
I'm gonna leave this world for a while


Now I'm free, free fallin', fallin'
Now I'm free, free fallin', fallin'</p>
      </div>
      <!-- this is where all of the popular ballads are being listed -->
      <div class="container">
        <div class="pop-ballad">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
      </div>
    </section>
  </body>
</html>
