<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Browse')">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ballad | Popular</title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/styles.css" rel="stylesheet"/>
  </head>
  <body id="popular-page">

  <div id="global-login" th:remove="all">
      <div class="modal-container">
        <div class="modal">
          <i class="fa fa-times" aria-hidden="true"></i>
          <div th:fragment="loginPage" id="login-page">
          <section  id="login-section">
            <!-- Toggle Between Signup and Login Forms -->
            <form id="signup-form" th:style="${signup}? '' : 'display:none'">
              <h1>Signup</h1>
              <div class="fname">
                <label for="first-name">First Name</label><br/>
                <input type="text" id="first-name" name="first-name"/>
              </div>
              <div class="lname">
                <label for="last-name">Last Name</label><br/>
                <input type="text" id="last-name" name="last-name"/>
              </div>
              <div class="eaddress">
                <label for="email-address">Email Address</label><br/>
                <input type="text" id="email-address" name="email-address"/>
              </div>
              <div class="usr">
                <label for="signup-username">Username</label><br/>
                <input type="text" id="signup-username" name="signup-username"/>
              </div>
              <div class="pass">
                <label for="signup-password">Password</label><br/>
                <input type="text" id="signup-password" name="signup-password"/>
              </div>
              <div class="sub">
                <button id="signup-btn">Submit</button>
              </div>
              <span>Already have an account? <a href="#" id="login">Login!</a></span>

            </form>

            <form id="login-form" th:style="${signup}? 'display:none' : ''">
              <h1>Login</h1>
              <div class="usr">
                <label for="login-username">Username</label><br/>
                <input type="text" id="login-username" name="username"/>
              </div>
              <div class="pass">
                <label for="login-password">Password</label><br/>
                <input type="text" id="login-password" name="login-password"/>
              </div>
              <div class="sub">
                <button id="login-btn">Submit</button>
                <a href="#">Forgot your password?</a>
              </div>

              <!-- <hr> -->
              <span>Ready to create lyrics but don't have an account? <a href="#" id="signup">Sign up!</a></span>
            </form>

          </section>
          </div>
        </div>
      </div>

      <div class="modal-overlay">
      </div>
    </div>

    <header id="global-header" th:replace="layout :: nav">

      <div class="head-container">
        <div class="top-head">
          <a href="home.html" id="logo"><img src="../static/images/ballad-logo_black.png" alt=""/></a>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Signup</a>
          <a href="#" id="logged">Isaiah <i class="fa fa-angle-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
        <div class="bottom-head">
          <ul>
            <li><a href="#about" id="ab">About</a></li>
            <li><a href="popular.html" id="br">Browse</a></li>
            <li><a href="editor.html" id="cr">+ Create</a></li>
          </ul>
        </div>
      </div>
    </header>


    <section id="popular">
      <!-- This is the div thats going to hold the full lyrics of a song if a user clicks on one to preview -->
      <div class="preview-container">
        <h1>Free Fallin</h1>
        <h2>John Mayer</h2>
        <p>She's a good girl, loves her mama
Loves Jesus and America, too
She's a good girl, crazy 'bout Elvis
Loves horses and her boyfriend, too

It's a long day living in reseda
There's a freeway runnin' through the yard
I'm a bad boy 'cause I don't even miss her
I'm a bad boy for breaking her heart

And I'm free, free fallin', fallin'
And I'm free, free fallin', fallin'

All the vampires walkin' through the valley
They move west down Ventura boulevard
And all the bad boys are standing in the shadows
And the good girls are home with broken hearts

And I'm free, free fallin', fallin'
Now I'm free, free fallin', fallin'

Free fallin',
Now I'm free fallin',
Now I'm free fallin',
Now I'm free fallin'.

I wanna glide down over Mulholland
I wanna write her name in the sky
I wanna free fall out into nothin'
I'm gonna leave this world for a while


Now I'm free, free fallin', fallin'
Now I'm free, free fallin', fallin'</p>
      </div>
      <!-- this is where all of the popular ballads are being listed -->
      <div class="container">
        <div class="pop-ballad" th:each="ballad : ${popular}" th:object="${ballad}">
          <h1 th:text="*{title}">My Song1</h1>
          <h2 th:text="|*{owner.firstName} *{owner.lastName}|">Isaiah</h2>
          <p th:text="*{ballad}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad" th:remove="all">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad" th:remove="all">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad" th:remove="all">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad" th:remove="all">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
        <div class="pop-ballad" th:remove="all">
          <h1>My Song1</h1>
          <h2>Isaiah</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
        </div>
      </div>
    </section>

    <div th:replace="login :: loginPage"></div>
    <div th:replace="layout :: universalScripts">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
      <script src="https://use.fontawesome.com/555750ba4f.js"></script>
    </div>
  </body>
</html>
