<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Profile')">
    <meta charset="utf-8"/>
    <title>Profile Settings</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
  </head>
  <body id="profile">

    <div id="global-login">
      <div class="modal-container">
        <div class="modal">
          <i class="fa fa-times" aria-hidden="true"></i>
          <div th:fragment="loginPage" id="login-page">
          <section  id="login-section">

            <form id="signup-form" th:style="${signup}? '' : 'display:none'">
              <h1>Signup</h1>
              <div class="fname">
                <label for="first-name">First Name</label><br/>
                <input type="text" id="first-name" name="first-name"/>
              </div>
              <div class="lname">
                <label for="last-name">Last Name</label><br/>
                <input type="text" id="last-name" name="last-name"/>
              </div>
              <div class="eaddress">
                <label for="email-address">Email Address</label><br/>
                <input type="text" id="email-address" name="email-address"/>
              </div>
              <div class="usr">
                <label for="signup-username">Username</label><br/>
                <input type="text" id="signup-username" name="signup-username"/>
              </div>
              <div class="pass">
                <label for="signup-password">Password</label><br/>
                <input type="text" id="signup-password" name="signup-password"/>
              </div>
              <div class="sub">
                <button id="signup-btn">Submit</button>
              </div>
              <span>Already have an account? <a href="#" id="login">Login!</a></span>

            </form>

            <form id="login-form" th:style="${signup}? 'display:none' : ''">
              <h1>Login</h1>
              <div class="usr">
                <label for="login-username">Username</label><br/>
                <input type="text" id="login-username" name="username"/>
              </div>
              <div class="pass">
                <label for="login-password">Password</label><br/>
                <input type="text" id="login-password" name="login-password"/>
              </div>
              <div class="sub">
                <button id="login-btn">Submit</button>
                <a href="#">Forgot your password?</a>
              </div>


              <span>Ready to create lyrics but don't have an account? <a href="#" id="signup">Sign up!</a></span>
            </form>

          </section>
          </div>
        </div>
      </div>

      <div class="modal-overlay">
      </div>
    </div>

    <header id="global-header" th:replace="layout :: nav">
      <div class="head-container">
        <div class="top-head">
          <a href="home.html" id="logo"><img src="../static/images/ballad-logo_black.png" alt=""/></a>
          <a href="#" id="not-logged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login / Sign-Up</a>
          <a href="#" id="logged">Isaiah<i class="fa fa-caret-down" aria-hidden="true"></i>
            <ul class="dropdown">
              <li>Logout</li>
              <li>Profile Settings</li>
              <li>My Ballads</li>
            </ul>
          </a>
        </div>
      </div>
    </header>


    <section class="container" th:object="${user}">
      <!--<form th:action="@{/update-profile}" method="post" enctype="multipart/form-data">-->
      <div class="settings">
        <h1>Settings</h1>
        <button type="button" name="button">Save</button>
      </div>
      <div class="top">
        <div class="lprofile">
          <h2>Profile Picture</h2>
          <div class="profile-pic">

              <img id="profile-image" src="" th:src="${user.getPhoto()}+'.jpg'" th:style="'width:150px; height:100; border-radius:50%;'"/>

          </div>
          <input type="file" id="update-image" name="file"/>
          <span class="update" style="cursor: pointer">update</span>


          </div>
        <div class="rprofile">
          <h2>Profile Color</h2>
          <button type="button" name="button">Pink <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
      </div>
      <!--</div>-->
      <div class="info">
        <div class="field">
          <h3>First Name</h3>
          <div class="field-foot">
            <input type="text" name="firstName" th:value="*{firstName}" th:style="'width:80%;  font-size:20px; border:none;'" disabled="disabled"/>
            <span class="update" style="cursor: pointer; text-decoration: underline;">update</span>

          </div>
        </div>
        <div class="field">
          <h3>Last Name</h3>
          <div class="field-foot">
            <input type="text" name="lastName" th:value="*{lastName}" th:style="'width:80%;  font-size:20px; border:none;'" disabled="disabled"/>
            <span class="update" style="cursor: pointer; text-decoration: underline;">update</span>
          </div>
        </div>
        <div class="field">
          <h3>Email Address</h3>
          <div class="field-foot">

            <input type="email" name="email" th:value="*{email}" th:style="'width:80%;  font-size:20px; border:none;'" disabled="disabled"/>

            <span class="update" style="cursor: pointer; text-decoration: underline;">update</span>

          </div>
        </div>
        <div class="field">
          <h3>Username</h3>
          <div class="field-foot">


            <input type="text" name="username" th:value="*{username}" th:style="'width:80%;  font-size:20px; border:none;'" disabled="disabled"/>

            <span class="update" style="cursor: pointer; text-decoration: underline;">update</span>

          </div>
        </div>
        <div class="field">
          <h3>Password</h3>
          <div class="field-foot">

            <input type="password" name="password" th:value="*{password}" th:style="'width:80%;  font-size:20px; border:none;'" disabled="disabled"/>

            <span class="update" style="cursor: pointer; text-decoration: underline;">update</span>

          </div>
        </div>
        <div class="field">
          <h3>Bio</h3>
          <div class="field-foot">

            <textarea th:text="*{about}" name="about" th:style="'width:80%;  font-size:20px; border:none;'" disabled="disabled"/>


            <span class="update" style="cursor: pointer; text-decoration: underline;">update</span>

          </div>
        </div>
        <div class="field">
          <h3>Delete Account</h3>
          <div class="field-foot">
            <button type="button" name="button">Delete</button>
            <span></span>
          </div>
        </div>
      </div>

      <!--</form>-->
    </section>


    <div th:replace="layout :: universalScripts">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
      <script src="https://use.fontawesome.com/555750ba4f.js"></script>
      <!--<script src="../static/js/ballads.js"></script>-->
    </div>
    <script src="../static/js/profileSettings.js" th:src="@{/js/profileSettings.js}"></script>

  </body>
</html>
